In [1]:
import pandas as pd

#### 054강 시리즈 기본

In [4]:
series_1 = pd.Series([1,2,3,-4,5])
series_1

0    1
1    2
2    3
3   -4
4    5
dtype: int64

##### 이게 같다

In [5]:
print(series_1.index)
print(series_1.keys())

RangeIndex(start=0, stop=5, step=1)

In [10]:
series_1.values

array([ 1,  2,  3, -4,  5])

##### 그래서 이런 변태같은 반복문도...

In [12]:
for k, v in zip(series_1.keys(), series_1.values) :
    print(k, v)

0 1
1 2
2 3
3 -4
4 5

##### 인덱스를 지정할 수도 있다.

In [16]:
series_2 = pd.Series([1,2,3,-4,5], index=['a', 'b', 'c', 'd', 'z'])
series_2

a    1
b    2
c    3
d   -4
z    5
dtype: int64

In [18]:
pydict = {"서울" : 100, "부산":200, "인천":300}
series_3 = pd.Series(pydict)
series_3

서울    100
부산    200
인천    300
dtype: int64

##### name... 어디에다 쓸까

In [21]:
series_3.name = "대한민국 도시"
series_3

서울    100
부산    200
인천    300
Name: 대한민국 도시, dtype: int64

##### 인덱스 교체 가능

In [24]:
series_3.index = ["인천", "대전", "대구"]
series_3

인천    100
대전    200
대구    300
Name: 대한민국 도시, dtype: int64

#### ㅎ 이건 안되네

In [32]:
# series_3.values = [1,2,3] # AttributeError: can't set attribute

#### 결측치를 만들어보자

In [35]:
pydict = {"서울" : 100, "부산":200, "인천":300}
series_4 = pd.Series(pydict, index=["서울", "대전", "부산", "인천"])
series_4

서울    100.0
대전      NaN
부산    200.0
인천    300.0
dtype: float64

#### numpy 등장

In [36]:
import numpy as np

In [37]:
ar = pd.Series(np.array([1,2,3]))
ar

0    1
1    2
2    3
dtype: int64

In [41]:
# ar = pd.Series(np.array([1,2,3,4]).reshape(2,2)) # <ValueError: Data must be 1-dimensional, got ndarray of shape (2, 2) instead

#### 60강 다라뿌레임

In [48]:
df = pd.DataFrame([[1,2,3,4,5], [6,7,8,9,0]], index=['a', 'b'], columns=['가', '나', '다', '라', '마'])
df

   가  나  다  라  마
a  1  2  3  4  5
b  6  7  8  9  0

#### 이게 되는 것도 몰랐고 심지어 array... (nd.ndarray)

In [50]:
df.values

array([[1, 2, 3, 4, 5],
       [6, 7, 8, 9, 0]])

In [57]:
np_arr = np.arange(24).reshape(6,4)
df = pd.DataFrame(np_arr, index=['a', 'b', 'c', 'd', 'e', 'f'], columns=['가', '나', '다', '라'])
df

    가   나   다   라
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15
e  16  17  18  19
f  20  21  22  23

#### 단순 인덱스를 시도

In [62]:
print(np_arr[2][3])
# print(df[2][3]) < KeyError: 2
print(df['가'][3]) # 되긴하는데 그렇게 의미 있는 인덱스는 아닐 것 # df는 열을 기준으로 하기 때문

11
12

In [ ]:
raw_data ={
    'food' : ['apple', 'pear', 'peach', 'banana', 'orange'],
    'month' : [1, 2, 3, 4, 5],
    'quantity' : [33,66,99,44,55],
}
df = pd.DataFrame.from_dict()